{
    "globals": {
        "unipika": true,
        "testUtils": true,
        "chai": true,
        "beforeEach": true,
        "afterEach": true,
        "describe": true,
        "it": true,
        "module": true,
    },
}
