.example-main {
    font-family: Arial, sans-serif;

    margin: 20px 40px 60px 320px;
}

.example-wrapper {
    display: flex;
    justify-content: flex-start;
}

.example-wrapper > .unipika {
    width: 40%;

    margin-inline-end: 20px;
}

.settings-wrapper {
    position: fixed;
    inset-block: 0;
    inset-inline-start: 0;

    width: 300px;
    padding: 0 20px;

    box-sizing: border-box;
    background-color: #f5f5f5;
}

.setting {
    margin-block-end: 5px;
    padding: 5px 10px;
}

.setting:hover {
    background-color: #fff;
}
