{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/client",
        "@gravity-ui/eslint-config/import-order",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/a11y",
    ],

    "parserOptions": {
        "ecmaVersion": 6,
    },
    "globals": {
        "require": true,
        "process": true,
        "module": true,
        "modules": true,
    },
}
