@import './themes.scss';

@include unipika-default;

.unipika {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: normal;

    color: var(--color-unipika-default);

    .string,
    .yql_string,
    .yql_utf8,
    .pg_category_s,
    .pg_category_i,
    .pg_category_e {
        color: var(--color-unipika-string);
    }

    .key {
        color: var(--color-unipika-key);
    }

    .special-key {
        color: var(--color-unipika-key);
        font-style: italic;
    }

    .null,
    .yql_null {
        color: var(--color-unipika-null);
    }

    .null {
        font-style: italic;
    }

    .yql_null {
        text-transform: uppercase;
    }

    .number,
    .int64,
    .yql_int8,
    .yql_int16,
    .yql_int32,
    .yql_int64,
    .pg_category_n {
        color: var(--color-unipika-int);
    }

    .uint64,
    .yql_uint8,
    .yql_uint16,
    .yql_uint32,
    .yql_uint64,
    .pg_category_a {
        color: var(--color-unipika-uint);
    }

    .double,
    .yql_double,
    .yql_float,
    .yql_decimal,
    .pg_category_c {
        color: var(--color-unipika-float);
    }

    .boolean,
    .yql_bool,
    .yql_enum,
    .pg_category_b {
        color: var(--color-unipika-bool);
    }

    .yql_date,
    .yql_date32,
    .yql_datetime,
    .yql_datetime64,
    .yql_timestamp,
    .yql_timestamp64,
    .yql_tzdate,
    .yql_tzdatetime,
    .yql_tztimestamp,
    .pg_category_d {
        color: var(--color-unipika-date);
    }

    .yql_interval,
    .yql_interval64,
    .pg_category_t {
        color: var(--color-unipika-interval);
    }

    .yql_tagged {
        &.tag_image {
            vertical-align: top;
        }
    }

    .escape {
        color: var(--color-unipika-escape-text);
        background-color: var(--color-unipika-escape-back);
    }

    .quote {
        color: var(--color-unipika-default);
    }

    .binary,
    .incomplete,
    .pg_category_v {
        background-color: var(--color-unipika-binary-back);
    }

    .binary::after,
    .incomplete::after {
        padding-inline-start: 0.8em;

        color: var(--color-unipika-binary-after);
    }

    .incomplete::after {
        content: '[truncated]';
        white-space: nowrap;
    }

    .binary::after {
        content: '[binary]';
        white-space: nowrap;
    }

    .incomplete.binary::after {
        content: '[truncated][binary]';
        white-space: nowrap;
    }

    .yql_uuid,
    .pg_category_g {
        color: var(--color-unipika-uuid);

        &.binary,
        &.incomplete {
            background: none;
            &::after {
                content: '';
                display: none;
            }
        }
    }

    // Tagged type styles
    .tag_url {
        text-decoration: none;
        color: var(--color-unipika-tag-url);
        &:hover {
            color: var(--color-unipika-tag-url-hover);
        }
    }
}

.unipika-wrapper {
    &_inline_yes {
        .unipika {
            display: inline-block;
        }
    }
}
